/* Стилизация модального окна */

.modal.container {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 450px;
  height: 609px;
  @include rounded;

  transform: translate(-50%, -50%) scale(1);
  @include transitioned(transform);
  @include transitioned(opacity);

  box-shadow: $modal-box-shadow;
  background-color: $primary-bcg-color;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.7);
  }
}

@media screen and (min-width: $desktop) {
  .modal.container {
    width: 528px;
    height: 581px;
  }

  .modal-close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    @include rounded(50%);
    @include bordered(rgba(0, 0, 0, 0.1));

    cursor: pointer;
    background-color: $primary-bcg-color;
    color: $close-icon-fill;
  }

  .close-icon {
    fill: currentColor;

    @include transitioned(fill);

    .modal-close:hover &,
    .modal-close:focus & {
      fill: $accent-color;
    }
  }
}
