/* Стилизация секции Герой */

.hero {
  background-color: $hero-bcg-color;
  color: $primary-text-color-darkbcg;
}

.hero-container {
  // @extend %container;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img-Hero.jpg);
  background-position: center;
}

.hero-thumb {
  width: 696px;
  margin-bottom: 30px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  text-align: center;

  color: $primary-text-color-darkbcg;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: $accent-color;

  @include transitioned(background-color);

  &:hover,
  &:focus {
    background-color: $accent-color-button-hover;
  }
}
