/* Стилизация футера */
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $dark-bcg-color;
  color: $primary-text-color-darkbcg;
}

.footer.container {
  text-align: center;
}

@media screen and (min-width: $tablet) {
  .footer.container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

@media screen and (min-width: $desktop) {
  .footer.container {
    text-align: start;
  }
}

.footer-actions {
  display: block;
}

@media screen and (min-width: $tablet) {
  .footer-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

@media screen and (min-width: $desktop) {
  .footer-actions {
    display: flex;
    justify-content: flex-start;
  }
}
