.footer-address {
  width: 231px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: $desktop) {
  .footer-address {
    margin-right: 70px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.logo-thumb {
  width: 231px;
  margin-bottom: 20px;
}

.location {
  margin-top: 0px;
  margin-bottom: 9px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

.email-link {
  @extend %footer-links;
  margin-left: 0px;
  margin-bottom: 9px;
}

.email-link,
.phone-link {
  @extend %footer-links;
  color: $sub-text-color-darkbcg;

  @include transitioned(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
