.footer-social {
  display: block;
  width: 206px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
}

@media screen and (min-width: $desktop) {
  .footer-social {
    margin-right: 93px;
    margin-left: 0;
    margin-bottom: 0;
    padding-top: 12px;
  }
}

.social-title {
  @extend %footer-titles;
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.footer-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  @include rounded(50%);
  background-color: $sub-icon-fill-darkbcg;
  color: $primary-bcg-color;

  @include transitioned(background-color);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.link-icon {
  fill: $primary-bcg-color;
}
