/* Стилизация хедера */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 1;

  background-color: $primary-bcg-color;
  @include bottom-bordered(#ececec);
}

.header-container {
  display: flex;
  align-items: center;

  @extend %container;
}
