$mobile-min: 320px;
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

$primary-text-color: #757575;
$sub-text-color: #212121;
$accent-color: #2196f3;
$sub-accent-color: rgba(33, 150, 243, 0.9);
$accent-color-button-hover: #188ce8;
$primary-text-color-darkbcg: #ffffff;
$sub-text-color-darkbcg: rgba(255, 255, 255, 0.6);
$primary-bcg-color: #ffffff;
$light-bcg-color: #f5f4fa;
$dark-bcg-color: #2f303a;
$hero-bcg-color: #c4c4c4;
$card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$primary-icon-fill: #afb1b8;
$sub-icon-fill-darkbcg: rgba(255, 255, 255, 0.1);
$backdrop-color: rgba(0, 0, 0, 0.2);
$modal-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$close-icon-fill: #000000;
$request-input-icon-fill: #212121;
$action-duration: 250ms;
$action-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
